<h2>Colosseum Fighters</h2>

<div>
  <button (click)="orderFighters('refresh')">Refresh table</button>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th (click)="orderFighters('wins')">Wins</th>
      <th (click)="orderFighters('lost')">Lost</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let fighter of fightersList">
      <td>{{fighter.name}}</td>
      <td>{{fighter.surname}}</td>
      <td>{{fighter.wins}}</td>
      <td>{{fighter.lost}}</td>
      <td>{{fighter.date}}</td>
    </tr>
  </table>
</div>
