<h2>Colosseum Fighters</h2>

<div class="alert alert-success" *ngIf="showSuccessAlert" role="alert">{{alertMessage}}</div>
<form [formGroup]="fighterTableForm">
  <table class="table table-striped" formArrayName="fighterDetails">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th class="clickable" (click)="orderFighters('wins')">Wins <i class="fa fa-arrow-up"></i></th>
        <th class="clickable" (click)="orderFighters('lost')">Lost <i class="fa fa-arrow-up"></i></th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fighter of fightersList; let index = index" [formGroupName]="index">
        <td>
          <span *ngIf="!editionMode(fighter.id)">{{fighter.name}}</span>
          <input [hidden]="true" class="form-control" id="id" [value]="fighter.id">
          <input *ngIf="editionMode(fighter.id)" type="text" class="form-control" id="name" [value]="fighter.name">
        </td>
        <td>
          <span *ngIf="!editionMode(fighter.id)">{{fighter.surname}}</span>
          <input *ngIf="editionMode(fighter.id)" type="text" class="form-control" id="surname" [value]="fighter.surname">
        </td>
        <td>
          <span *ngIf="!editionMode(fighter.id)">{{fighter.wins}}</span>
          <input *ngIf="editionMode(fighter.id)" type="text" class="form-control" id="wins" [value]="fighter.wins">
        </td>
        <td>
          <span *ngIf="!editionMode(fighter.id)">{{fighter.lost}}</span>
          <input *ngIf="editionMode(fighter.id)" type="text" class="form-control" id="lost" [value]="fighter.lost">
        </td>
        <td>{{fighter.date}}</td>
        <td>
          <button type="button" *ngIf="!editionMode(fighter.id)" (click)="editFighter(fighter.id)" class="btn btn-primary">Edit</button>
          <button type="button" *ngIf="!editionMode(fighter.id)" (click)="removeFighter(fighter.id)" class="btn btn-primary">Remove</button>
          <button type="button" *ngIf="editionMode(fighter.id)" (click)="saveEdition(fighter.id)" class="btn btn-primary">Save</button>
          <button type="button" *ngIf="editionMode(fighter.id)" (click)="cancelEdition(fighter.id)" class="btn btn-danger">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
